body {
    background-color: #f4f6f9;
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#results {
    font-size: 1.2em;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    font-size: 1.2em;
}

.btn-block {
    padding: 10px;
}

#results h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: #007bff;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}