:root {
    --bg-color: #f8f9fa;
    --text-color: #333;
    --card-bg-color: #fff;
    --header-bg-color: #007bff;
    --header-text-color: #fff;
    --input-bg-color: #fff;
    --input-border-color: #ced4da;
    --input-placeholder-color: #6c757d;
    --table-header-bg-color: #007bff;
    --table-header-text-color: #fff;
    --table-row-bg-color: #f2f2f2;
    --btn-bg-color: #28a745;
    --btn-text-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#results {
    font-size: 1.2em;
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
    color: var(--text-color);
}

.form-control {
    background-color: var(--input-bg-color);
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    padding: 10px;
}

.form-control::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
}

#results h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--text-color);
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-text-color);
}

.table tbody tr:nth-child(even) {
    background-color: var(--table-row-bg-color);
}

/* Additional styling for the dropdown menu */
select.form-control {
    line-height: 1.5;
    padding-top: .5rem;
    padding-bottom: .5rem;
}